:root {
    --clr-green: #44ffa1;
    --clr-purple-100: #fcf8ff;
    --clr-purple-500: #584d62;
    --clr-purple-900: #24053e;
    --clr-white: #fff;

    --text-2xl: 5rem;
    --text-xl: 3.5rem;
    --text-l: 2rem;
    --text-md: 1.125rem;
}
