@use "../base/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/typography" as *;

button {
    @include respond-to("desktop") {
        @include typography($textsDesktop, "l-bold");
    }

    @include respond-to("tablet") {
        @include typography($textsTablet, "l-bold");
    }

    @include respond-to("mobile") {
        @include typography($textsMobile, "l-bold");
    }
}

.main-intro__content__cta-button--primary,
.testimonial__user-details__cta-button--primary {
    background-color: $clr-green;
    color: $clr-purple-900;
    padding-inline: 2em;
    padding-block: 0.75em;
}

.header__cta-button--secondary {
    background-color: transparent;
    color: $clr-white;
}
