@use "../abstracts/mixins" as *;

.header {
    @include respond-to("tablet") {
        padding-inline: 2.75em;
    }

    @include respond-to("mobile") {
        padding-inline: 20px;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-start: 2em;
}
